/* General Styles */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Action Buttons */
.action-buttons {
  margin: 20px 0;
}

.action-buttons button {
  background-color: #cb142c;
  color: #f2f2f2;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.alterbtn {
  background-color: #cb142c;
  color: #f2f2f2;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  border-radius: 6px;
}

.action-buttons button:hover {
  background-color: #860f1e;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  color: black;
  background-color: #a9a9a9;
  font-weight: bold;
}

tr:hover {
  background-color: #d6d8db;
  transition: background 0.3s ease-in-out;
}
tr {
  border-bottom: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* Buttons */
.btn-primary {
  color: #ffffff;
  background-color: #c8102e;
  border-color: #960c22;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #960c22;
}

.btn {
  border-width: 1px 1px 1px 1px;
  text-shadow: none;
  border: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.close:hover {
  color: red;
}

/* Form Name Hover Effect */
.form-name:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* Signature Canvas */
#approver-signature-canvas {
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }

  nav button {
    font-size: 14px;
    padding: 10px 12px;
  }

  th,
  td {
    padding: 8px;
  }
}

#confirm-create-btn {
  display: none;
}

#confirm-update {
  display: none;
}

.hidden {
  display: none;
}

/* Navigation Bar */
nav {
  background-color: #cb142c;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  background-color: white;
  color: #160204 !important;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  margin-right: 2rem;
}
.container {
  margin: 1rem;
}
