table {
  border: 2px solid black;
  border-collapse: collapse; /* Ensures borders don't double up */
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Light gray header */
}

#confirm-update {
  display: none;
}
#confirm-create-btn {
  display: none;
}
