<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Undergraduate Credit Transfer Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/undergraduate_transfer_form.css') }}" />
    <script src="{{ url_for('static', filename='js/undergraduate_transfer_form.js')}}" defer></script>
</head>

<body>
    <nav>
        <div>
          <a href="{{ url_for('index') }}" class="logo">Home</a>
          {%if currUser.role == "admin"%}
          <a href="{{ url_for('admin_dash') }}">Admin Dashboard</a>
          {%endif%}
        </div>
        <span>Welcome, {{ currUser.name }}</span>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
      </nav>
    {%if userName and not filled%}
    <div class="container">
        <div class="header">
            <h1>UNIVERSITY of HOUSTON</h1>
            <h2>UNDERGRADUATE STUDENT CREDIT TRANSFER FORM</h2>
        </div>

        <form id="credit_transfer_form">
            <!-- Personal Information Section -->
            <div class="container">
                <div class="form-section">
                    <h3>Student Information</h3>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name" value="{{userName[0]}}" readonly
                                required />
                        </div>
                        <div class="form-group">
                            <label for="middle_name">Middle Name</label>
                            <input type="text" id="middle_name" name="middle_name" value="" readonly />
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" value="{{userName[1]}}" readonly
                                required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="uh_id">UH ID</label>
                            <input type="text" id="uh_id" name="uh_id" required />
                        </div>
                        <div class="form-group">
                            <label for="contact_phone">Contact Phone</label>
                            <input type="tel" id="contact_phone" name="contact_phone" required />
                        </div>
                    </div>

                    <div class="date">
                        <p>Today's Date: <span id="current_date"></span></p>
                    </div>
                </div>
            </div>

            <!-- Current Transfer Equivalency -->
            <div class="container">
                <div class="form-section">
                    <h3>Current Transfer Equivalency</h3>
                    <table id="transfer_equivalency">
                        <tr>
                            <div class="">
                                <th>*Transfer Institution</th>
                                <th>*Subject Area</th>
                                <th>*Transfer Catalog Nbr</th>
                                <th>*Course Title</th>
                                <th>UH Subject Area</th>
                                <th>Catalog Nbr</th>
                                <th>Grade</th>
                                <th>Credits Transferred</th>
                                <th>Credits Taken (External)</th>
                                <th>Insert A Row</th>
                                <th>Delete A Row</th>
                            </div>
                        </tr>

                        <!-- Input Row -->
                        <tr>
                            <td>
                                <div class="search-container">
                                    <input type="text" id="transfer_institution" name="transfer_institution">
                                    <span class="search-icon" onclick="searchFunction()">🔍</span>
                                </div>
                            </td>
                            <td>
                                <div class="search-container">
                                    <input type="text" id="subject_area" name="subject_area">
                                    <span class="search-icon" onclick="searchFunction()">🔍</span>
                                </div>
                            </td>
                            <td>
                                <div class="search-container">
                                    <input type="text" id="transfer_number" name="transfer_number">
                                    <span class="search-icon" onclick="searchFunction()">🔍</span>
                                </div>
                            </td>
                            <td><input type="text" id="course_title" name="course_title"></td>
                            <td><input type="text" id="uh_subject_area" name="uh_subject_area" value="UH Subject"
                                    readonly></td>
                            <td><input type="text" id="catalog_number" name="catalog_number" value="Catalog Nbr"
                                    readonly></td>
                            <td><input type="text" id="grade" name="grade" value="Grade" readonly></td>
                            <td><input type="text" id="credits_transferred" name="credits_transferred" value="0.000000"
                                    readonly></td>
                            <td><input type="text" id="credits_taken" name="credits_taken" value="0.00" readonly></td>
                            <td><button onclick="addRowSearchContainer()">+</button></td>
                            <td><button onclick="deleteRowSearchContainer(this)">-</button></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Transfer Credit Request -->
            <div class="container">
                <div class="form-section">
                    <h3>Transfer Credit Request</h3>
                    <table class="transfer_request">
                        <tr>
                            <td>
                                <label for="uh_subject_area">UH Subject Area</label>
                            </td>
                            <td>
                                <input type="text" id="uh_subject_area" name="uh_subject_area" />
                            </td>
                            <td>
                                <label for="uh_catalog_number">UH Catalog Number</label>
                            </td>
                            <td>
                                <input type="text" id="uh_catalog_number" name="uh_catalog_number" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="core_credit">Core Credit</label>
                            </td>
                            <td>
                                <input type="text" id="core_credit" name="core_credit" />
                            </td>
                            <td>
                                <label for="core_area">Core Area</label>
                            </td>
                            <td>
                                <input type="text" id="core_area" name="core_area" readonly />
                            </td>
                        </tr>


                        <tr>
                            <td colspan=2 style="text-align:right;">
                                <label for="course_credits">Course Credits</label>
                            </td>
                            <td colspan=2>
                                <input type="text" id="course_credits" name="course_credits" readonly />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Additional Transfer Information -->
            <div class="container">
                <div class="form-section">
                    <h3>Additional Information</h3>
                    <table class="additional_info">

                        <div class="info-group">
                            <tr>
                                <td colspan="3">
                                    <label for="graduation_expected">Expected to Graduate in Next 12 Months</label>
                                </td>
                                <td colspan="1">
                                    <label class="switch">
                                        <input type="checkbox" id="graduation_expected" name="graduation_expected">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        </div>

                        <div class="info-group">
                            <tr>
                                <td colspan="3">
                                    <label for="course_prereq">PreReq for Upcoming Course Enrollment</label>
                                </td>
                                <td colspan="1">
                                    <label class="switch">
                                        <input type="checkbox" id="course_prereq" name="course_prereq">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        </div>

                        <div class="info-group">
                            <tr>
                                <td colspan="3">
                                    <label for="major_requirement">Requirement for Major</label>
                                </td>
                                <td colspan="1">
                                    <label class="switch">
                                        <input type="checkbox" id="major_requirement" name="major_requirement">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        </div>

                        <div class="info-group">
                            <tr>
                                <td colspan="3">
                                    <label for="minor_requirement">Requirement for Minor</label>
                                </td>
                                <td colspan="1">
                                    <label class="switch">
                                        <input type="checkbox" id="minor_requirement" name="minor_requirement">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>

            <!-- Explanation Section -->
            <div class="container">
                <div class="form-section">
                    <h3>Explanation of Request</h3>
                    <textarea id="explanation" name="explanation" rows="5" cols="40" required></textarea>
                </div>
            </div>


                    <!-- Signature Section -->
        <div class="form-section signature-section">
            <div class="form-row">
              <div class="form-group">
                <label for="signature">Student Signature</label>
                <input
                  type="file"
                  id="signature"
                  name="signature"
                  accept="image/*"
                />
                <canvas id="signatureCanvas" width="300" height="100"></canvas>
              </div>
            </div>
          </div>
        <button id="fill-out">Fill our form automatically - testing only</button>
        <button type="submit">Submit</button>

        </form>
        {%endif%}
        {%if userName and filled%}
        <p>YOU ALREADY FILLED OUT THIS FORM - PLEASE WAIT</p>
        {%endif%}
</body>

</html>