<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Authentication</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
  </head>
  <body>
    <div class="container">
      {% if user %} {% if user.account_status %}
      <h2>Welcome, {{ user.name }}!</h2>
      <p>Email: {{ user.email }}</p>
      {% if user.role.lower() == 'admin' %}
      <div>
        <a href="{{ url_for('admin_dash') }}">Go To Admin DashBoard</a>
      </div>
      {% endif %}
      <div>
        <a href="{{ url_for('handleGraduateStudentPetitionForm') }}"">Graduate/Professional Student Petition Form</a>
      </div>
       {% else %}
      <h2>
        Your account is deactivated. Do you want to reactivate your account?
      </h2>
      <div>
        <a>
          <button class="reactivate-btn" onclick="reactivateAccount()">
            Reactivate please
          </button>
        </a>

        <a href="{{ url_for('logout') }}">
          <button class="refuse-reactivate-btn""">
            Don't reactivate and log out
          </button>
        </a>

      </div>

      {% endif %}
      <a class="btn" href="{{ url_for('logout') }}">Log Out</a>
      {% else %}
      <h2>Welcome to the User Management System</h2>
      <p>Please log in with your Office365 account.</p>
      <a class="btn" href="{{ url_for('login') }}">Log In</a>
      {% endif %}
    </div>
  </body>
</html>
