<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
  </head>
  <body>
    {% if user %} {% if user.account_status %}
    <nav>
      <div>
        <a href="{{ url_for('index') }}" class="logo">Home</a>
        {%if user.role == "admin"%}
        <a href="{{ url_for('admin_dash') }}">Admin Dashboard</a>
        <a href="{{ url_for('reports') }}">Reports Outlet</a>
        {%endif%}
      </div>
      <span>Welcome, {{ user.name }}</span>
      <a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </nav>

    <div class="dashboard-container">
      <aside class="form-list">
        <h2>Online Forms</h2>
        <ul>
          <li id="graduate-petition-form">Graduate Student Petition Form</li>
          <li id="undergraduate-transfer-form">Undergraduate Transfer Form</li>
          <li id="public-info">Request to Withhold or Release Public Information</li>
          <li id="early_withdrawal">Authorized Early Withdrawal Form</li>
        </ul>
      </aside>

      <section class="form-details">
        <!-- Graduate Student Petition Form -->
        <div id="graduate-petition-form-container">
          <h2>Graduate Student Petition Form</h2>
          <p>
            - <a href="{{ url_for('handleGraduateStudentPetitionForm') }}">Fill out Form</a>
          </p>
          <p>
            - <span>Form Status:</span>{% set status = false %} {% for formId, formDetails in forms.items() %}
            {% if formDetails.get("form_name") == "graduate student petition form" and not status %}
            {% set status = true %} {{ formDetails.get("status") }}
            {% if formDetails.get("status") == "returned" %}
            <span> - reason: {{ formDetails.get("approver_comment") }} </span>
            {% endif %}
            <div>
              <span> - </span>
              <a
                onclick="viewForm('{{ formDetails.form_id }}','{{ formDetails.email }}')"
                class="view-submitted-form-btn"
                >View submitted Form</a
              >
            </div>
            {% endif %} {% endfor %}
          </p>
        </div>

        <!-- Undergraduate Transfer Form -->
        <div id="undergraduate-transfer-form-container" class="hidden">
          <h2>Undergraduate Transfer Form</h2>
          <p>
            - <a href="{{ url_for('undergraduateTransferForm') }}">Fill out Form</a>
          </p>
          <p>
            - <span>Form Status:</span>{% set status = false %} {% for formId, formDetails in forms.items() %}
            {% if formDetails.get("form_name") == "undergraduate transfer form" and not status %}
            {% set status = true %} {{ formDetails.get("status") }}
            {% if formDetails.get("status") == "returned" %}
            <span> - reason: {{ formDetails.get("approver_comment") }} </span>
            {% endif %}
            <div>
              <span> - </span>
              <a
                onclick="viewForm('{{ formDetails.form_id }}','{{ formDetails.email }}')"
                class="view-submitted-form-btn"
                >View submitted Form</a
              >
            </div>
            {% endif %} {% endfor %}
          </p>
        </div>

        <!-- Public Info Form -->
        <div id="public-info-container" class="hidden">
          <h2>Request to Withhold or Release Public Information</h2>
          <p>
            - <a href="{{ url_for('render_public_info_form') }}">Fill out Form</a>
          </p>
          {% set status = false %}
          {% for formId, formDetails in forms.items() %}
            {% if formDetails.form_name.lower() == "public info form" and not status %}
              {% set status = true %}
              <p> - Form Status: {{ formDetails.status }}</p>
              {% if formDetails.status == "returned" %}
                <p> - reason: {{ formDetails.approver_comment }}</p>
              {% endif %}
              <div>
                <span> - </span>
                <a
                  onclick="viewForm('{{ formDetails.form_id }}','{{ formDetails.email }}')"
                  class="view-submitted-form-btn"
                >View submitted Form</a>
              </div>
            {% endif %}
          {% endfor %}
          {% if not status %}
            <p> </p>
          {% endif %}
        </div>
        
        <!-- Early Withdrawal Form -->
        <div id="early_withdrawal-container" class="hidden">
          <h2>Authorized Early Withdrawal Form</h2>
          <p>
            - <a href="{{ url_for('early_withdrawal_form') }}">Fill out Form</a>
          </p>
          <p>
            - <span>Form Status:</span>{% set status = false %} {% for formId, formDetails in forms.items() %}
            {% if formDetails.get("form_name") == "early withdrawal form" and not status %}
            {% set status = true %} {{ formDetails.get("status") }}
            {% if formDetails.get("status") == "returned" %}
            <span> - reason: {{ formDetails.get("approver_comment") }} </span>
            {% endif %}
            <div>
              <span> - </span>
              <a
                onclick="viewForm('{{ formDetails.form_id }}','{{ formDetails.email }}')"
                class="view-submitted-form-btn"
                >View submitted Form</a
              >
            </div>
            {% endif %} {% endfor %}
          </p>
        </div>
      </section>
    </div>
    {% else %}
    <div class="inactive-box">
      <h2>Your account is deactivated.</h2>
      <p>Would you like to reactivate it?</p>
      <button class="btn-primary" onclick="reactivateAccount()">
        Reactivate
      </button>
      <a href="{{ url_for('logout') }}" class="btn-secondary"
        >Don't Reactivate & Logout</a
      >
    </div>
    {% endif %} {% else %}
    <div class="login-container">
      <div class="login">
        <h2>Welcome to our website</h2>
        <p>Please log in with your Office365 account.</p>
        <a class="btn" href="{{ url_for('login') }}">Log In</a>
      </div>
    </div>
    {% endif %}
  </body>
</html>
