<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <h1>Login with your CougarID</h1>
    <form method="POST" action="{{ url_for('login') }}">
      <label for="cougarid">CougarID:</label>
      <input type="text" id="cougarid" name="cougarid" required />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
